body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SFProDisplayBold';
  src: url('../public/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}

@font-face {
  font-family: 'SFProDisplayRegular';
  src: url('../public/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'SFProDisplayMedium';
  src: url('../public/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "leaflet/dist/leaflet.css";

/* optional: make the map nicely rounded */
.map-rounded { border-radius: 16px; overflow: hidden; }